* {
  padding: 0;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.body {
  background-color: #111827;
  height: 100vh;
  width: 100%;
}

.list {
  background-color: #1f2937;
  height: 70vh;
  width: 40%;
  margin: 7.5% auto;
  display: flex;
  flex-direction: column;
  padding: 3%;
  border: solid 1px transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.116);
  align-items: center;
}
.list h1 {
  color: rgba(255, 255, 255, 0.829);
  margin-bottom: 2%;
  text-align: left;
  width: 89%;
}
.list input {
  background-color: #374151;
  border: solid 1px transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 5vh;
  width: 30%;
  bottom: 18%;
  position: absolute;
  /* margin: auto; */
  text-indent: 5px;
  outline: none;
  caret-color: rgba(255, 255, 255, 0.829);
  color: rgba(255, 255, 255, 0.829);
  letter-spacing: 1.3px;
  font-size: 14px;
  font-weight: 500;
}
.list button {
  background-color: #eab208f1;
  /*color: #EAB308;
  */
  height: 4vh;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 2%;
  border: solid 1px transparent;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: absolute;
  bottom: 18.6%;
  left: 58.5%;
}
.list--item {
  color: rgba(255, 255, 255, 0.801);
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: #111827;
  width: 89%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  height: 7vh;
  font-size: 15px;
}
.action{
  width: 20%;
  display: inherit;
  justify-content: space-evenly;
}
.action img{
height: 30px;
cursor: pointer;
}
